
# Python
venv/
__pycache__/
*.pyc
.env
.venv
.env.example
ENV/
env/

# JS (if any)
node_modules/
dist/
build/


# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env



# System
.DS_Store
Thumbs.db


